* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Top head Section Start */
.tophead {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #05571d;
}
.tophead ul li {
    display: inline-block;
    margin: 0px 5px;
    color: #FFF;
}
.tophead ul li a {
    color: #87d88b;
}
/* Top head Section End */

/* Header Section End */
header {
    width: 100%;
    height: 100px;
    color: #fff;
    padding: 0px 100px;
    line-height: 100PX;
    background: rgb(82, 190, 82)
}
header h1 {
    font-size: 50px;
    margin-right: 20px;
}
header h1,
header h3 {
    display: inline-block;

}
/* Header Section Start */

/* Navbar Section Start */
nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 100px;
    background: #83e3a0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
nav ul li a:hover {
    font-size: 105%;
    transition: 0.3s linear
}
/* Navbar Section End */

/* content section Start */
section {
    width: 100%;
    padding: 0px 100px;
}
section main {
    width: 80%;
    float: left;
    padding-top: 20px;
}
section main p span{
    color:#07c007; 
}
section aside {
    width: 20%;
    float: right;
    padding: 20px 15px;
    background: #b9dbbe;
}

/* main Section Start */
.first ul{
    padding-bottom: 5px;
}
.first ul li{
    margin-left:45px;
}
.first ol{
    padding: 11px 0px;
}
.first ol li{
    margin-left:45px;
}
.first h3{
    padding: 10px 0px;
}
section main h2,
h5 {
    font-family: poppins;

}
section main h5 span a {
    color: #05571d;
    text-decoration: none;
}
section main p {
    margin-bottom: 15px;
}
section main p a {
    text-decoration: none;
    color: #05571d;
}
section main ul .two{
    border-left: 2px solid #07c007;
    height: auto;
    margin-left:30px;
    margin-bottom: 20px;
    padding:0px 10px ;
    list-style: none;
}

section main ul li {
    margin-left: 30px;
    padding: 0px 10px;
}
section h3 {
    margin-bottom: 10px;
}
section main ol li {
    margin-left: 30px;
    padding: 0px 10px;
}
section main ul li.vl {
    border-left: 2px solid green;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 0px 10px;
    list-style: none;
}
/* main Section End */

/* content section End */
aside ul li {
    font-weight: 600;
    list-style: none;
}
aside ul li ul li {
    padding-left: 20px;
    font-weight: normal;
}
/* content section End */
/* Footer Section Start */
footer {
    width: 100%;
    height: 105px;
    color: #fff;
    padding: 10px 100px;
    background: #05571d;
    display: flex;
    justify-content: space-between;
}

footer .link {
    width: 33%;
    float: left;
}
footer .follow {
    width: 33%;
    float: left;
}
footer .copy {
    width: 34%;
    float: right;
    text-align: right;
    color: rgb(82, 190, 82);
}
footer ul {
    list-style: none;
}
footer h4 {
    color: rgb(82, 190, 82);
    padding: 2px 2px;
}
/* Footer Section End */

/* Bottom Section Start */
.bottom{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 5px 100px;
    background-color: #5c9e9e;
    text-align: center;
}
/* Bottom Section End */

/* Media Queries Start */
@media screen and(max-width:991px) {
    .tophead footer {
        height: auto;
        padding: 10px;
    }

    .tophead ul li {
        display: block;
    }

    header,
    nav {
        text-align: center;
        padding: 0px 10px;
    }

    section {
        padding: 0px 0px 0px 10px;
    }
}

@media screen and(max-width:767px) {

    section main,
    section aside {
        float: none;
        width: 100px;
        padding: 0px;
    }

    footer .links,
    .follow,
    .copy {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and(max-width:575px) {
    header {
        line-height: normal;
    }

    header h1,
    header h3 {
        display: block;
    }
}

/* Media Queries End */